html, body {
  height: 100%;
  margin: 0;
}

body {
  /*background-color: lightblue;*/
  background-image: url("https://images.pexels.com/photos/17483867/pexels-photo-17483867.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/*Parameters of a header1 */
h1 {
    background-color: Pink;
    color: black;
    text-align: center;
    padding: 10px;
}

/*Parameters of a header2 */
h2 {
    color: black;
    background-color: Violet;
    text-align: center;
    padding: 8px;
}

a {
    background-color: none;
    color: black;
}
