html, body {
  height: 100%;
  margin: 10px;
}

body {
  /*background-color: lightblue;*/
  background-image: url("https://images.pexels.com/photos/60202/pexels-photo-60202.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: black;
  text-align: center;
}

/*Parameters of a header1 */
h1 {
    background-color: Pink;
    color: black;
    text-align: center;
    padding: 10px;
}

/*Parameters of a header2 */
h2 {
    color: black;
    background-color: Violet;
    text-align: center;
    padding: 8px;
}

h3 {
    color: black;
    text-align: center;
    padding: 6px;
}

h4 {
    color: black;
    text-align: center;
    padding: 4px;
}

.section {
  display: block;
  width: 100%;
}

.section h3 + p,
.section h4 + p {
  background-color: lightyellow;
  border-radius: 8px;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* Links inside footer */
a {
  color: black; 
}
a:hover {
  color: #fff;
  text-decoration: underline;
}

.return-to-homage {
  text-align: left;
  margin-top: 20px;
  margin-left: 0;
}